/* Add CSS Styling */
.odd {
    background-color: #FFC0CB;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#one {
    color: #0000ff;
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#two {
    background-color: #90EE90;
    font-size: 24px;
    font-weight: bold;
}